{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta
        name="description"
        content="ShopAPI - Django REST Framework ile geliştirilmiş modern e-commerce REST API."
    >

    <title>
        {% block title %}ShopAPI | Modern E-Commerce REST API{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    {% block content %}
    {% endblock %}

</body>
</html>